---
import type { CollectionEntry } from "astro:content";
import Card from "../Card.astro";

export interface Props {
  race: CollectionEntry<"gpData">;
}

const { race } = Astro.props;

const [year, gp] = race.id.split("/");
const [_, gpName] = gp.split("-");

const raceSlug = `${year}/${gpName}`;
---

<>
  {
    race.data.status !== "Upcoming" && (
      <Card interactive href={raceSlug}>
        <h3>{race.data.name}</h3>
        <p>{race.data.status}</p>
      </Card>
    )
  }
</>

<style></style>
